
.closed__st0
  fill:none;
  stroke:#BDC3C7;
  stroke-width:7;
  stroke-miterlimit:10;


.closed__st1
  fill:#E92754


.closed__st2
  fill:#414042;


.closed__st3
  fill:#FFFFFF;
  stroke:#414042;
  stroke-width:3;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;


