.open__st0{fill:none;stroke:#BDC3C7;stroke-width:7;stroke-miterlimit:10;}
.open__st1{fill:#F7F00B;}
.open__st2{fill:#414042;}
.open__st3{fill:#FFFFFF;}
.open__st4{fill:none;stroke:#414042;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

