body
  margin 0
  font-family: Helvetica
  background #9b59b6
  background: #9b59b6; /* Old browsers */
  background: -moz-linear-gradient(top,  #9b59b6 0%, #c1a6d1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #9b59b6 0%,#c1a6d1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #9b59b6 0%,#c1a6d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


input::-webkit-input-placeholder {
  color rgba(255, 255, 255, .4)
}


body :-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.react-app
  max-width 1000px
  margin 0 auto
