.logo
  max-height: 100%;
  display: inline-block;
  width: 140px;

.st0{fill:#E92754;}
.st1{fill:#B21B43;}
.st2{fill:none;stroke:#FFFFFF;stroke-width:25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{fill:none;}
.st4{fill:#34495E;stroke:#34495E;stroke-miterlimit:10;}
